.btn {
    padding: 15px 20px;
    background-color: inherit;
    color: inherit;
    border-radius: 10px;
    font: var(--font-m);

    &:hover {
        cursor: pointer;
    }
}

.clean {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    appearance: none;
    background-color: transparent;
}
