.app {
    width: inherit;
    height: inherit;
    background-color: var(--bg-color);
    font: var(--font-m);
    color: var(--text-color);
    text-shadow: var(--text-effect);
    padding: 20px;
    min-height: 100vh;
}