@import "./variables/variables.scss";
@import "shared/providers/themes/styles/light.scss";
@import "shared/providers/themes/styles/dark.scss";
@import "./reset.scss";

body {
    width: 100vw;
    height: 100vh;
    font-family: Bahnschrift
}
