.error {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    &__unit {
        margin: 15px;

        &:not(button) {
            font: var(--font-lg);
        }
    }
}
