.sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-section-height));
    width: var(--sidebar-width-regular);
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
    transition: width 0.4s ease-in;

    &__mode-switcher {
        position: absolute;
        right: 20px;
    }

    &__functional-section {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
    }

    &__btn-divider {
        margin: 20px;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}