.sidebar {
    position: relative;
    height: calc(100vh - var(--navbar-section-height));
    width: var(--sidebar-width-regular);
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
    text-shadow: var(--text-effect-inverted);
    transition: width 0.4s ease-in;

    &__mode-switcher {
        position: absolute;
        right: 20px;
    }

    &__functional-section {
        position: absolute;
        bottom: 20px;
        left: 40%;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}