.applink {
    text-decoration: none;
    margin: 0 15px;
    color: inherit;
    text-shadow: inherit;
}

.primary {
    color: var(--text-color-inverted);
    text-shadow: var(--text-effect-inverted)
}

.secondary {
    color: var(--text-color-inverted);
    text-shadow: var(--text-effect-inverted);
}